.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
    transition: .25s;
    cursor: pointer;
}
.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.acordeon .trigger::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/arrow_top.jpeg');
    filter: invert(1);
    transition: .25s;
}

.acordeon .trigger::hover {
    cursor: pointer;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon.open .content {
    display: inline-block;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    opacity: 1;
}